/* Footer */
.footer {
  background: #482349;
  color: #f2f2e1;

  padding: 20px 40px;
  text-align: center;
  border-top: 3px solid #CE9C25;
}


@media (max-width: 767px) {
  .footer {
    padding: 16px;
    font-size: 14px;
    line-height: 1.6;
  }
}
